*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    background-repeat: no-repeat;
}
.header{
    position: relative;
    background-size: cover;
    height: 100vh;
    transition: background-image 3s ease-in-out;
    animation: changeImage 12s infinite; 
}
@keyframes changeImage {
    0% { background-image: url('./img/background\ img4.png'); }
    33% { background-image: url('./img/background\ img2.png'); }
    66% { background-image: url('./img/background\ img3.png'); }
    100% { background-image: url('./img/background\ img4.png'); }
  }
.header .logo{
    position: absolute;
    top: 25px;
    left: 25px;
}
.header .navbar_list{
    position: absolute;
    list-style: none;
    top: 25px;
    left: 50%;
   
}
.header .navbar_list li{
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
}
.header .navbar_list li:hover{
    cursor: pointer;
}
.header .navbar_list li i{
    font-size: 20px; margin-right: 5px;
}
.header .navbar_list li a{
    text-decoration: none;
    color: black;
}
#login_btn{
    height: 30px;
    width: 80px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 18px;
}
#login_btn:hover{
    background-color: gainsboro;
}
.header .content{
    display: inline-block;
    width: 350px;
    height: 400px;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
}
.header .search{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}
.header .search i:hover{
    cursor: pointer;
}
.header .search i{
    position: relative;
    top: 4px;
    right: 45px;
    font-size: 24px;
}
.header .search input{
    height: 50px;
    width: 500px;
    padding: 5px;
    border: none;
    border-radius: 20px;
}
::placeholder{
    padding-left: 20px;
}

/* INTRODUCTION */

.introduction{
    position: relative;
    height: 610px;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    border-bottom: 2px solid black;
}
.introduction .title{
    position: absolute;
    top: 40px;
    left: 50%;
    font-weight: 600;
    height: auto;
    font-size: 30px;
}
.introduction .introduction_img1{
    position: absolute;
    width: 420px;
    height: 530px;
    border-radius:  15px;
    top: 40px;
    right: 55%;
}
.introduction .introduction_content{
    position: absolute;
    width: 520px;
    left: 50%;
    top: 80px;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    height: auto;
}
.introduction .introduction_img2{
    position: absolute;
    width: 520px;
    height: 350px;
    top: 220px;
    left: 50%;
    border-radius: 15px;
}
/* ROOM */
.room{
    height: 1600px;
}
.room .room_navbar{
    position: relative;
    height: 150px;
}
.room .room_navbar .heading{
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    left: 125px;
    margin-top: 15px;
}
.room .room_navbar .navbar_roomlist{
    display: flex;
    list-style: none;
    position: absolute;
    top: 60px;
    left:50% ;
    transform: translateX(-50%);
    width: 1000px;
    justify-content: space-around;
}
.room .room_navbar .navbar_roomlist li{
    font-size: 18px;
    width: 130px;
    background-color: #e2e2e2;
    color: black;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    text-transform: uppercase;
}
.room .room_navbar .navbar_roomlist li.active{
    background-color: black;
    color: white;
}
.room .room_navbar .navbar_roomlist li:hover{
    background-color: gray;
    cursor: pointer;
}

#div1{
    height: 1400px; ;
}
#div1 .room_item{
    position: relative;
    height: 280px;
}
#div1 .room_item .room_img{
    position: absolute;
    left: 250px;
    width: 290px;
    height: 200px;
    border-radius: 10px;
}
#div1 .room_item .room_name{
    position: absolute;
    left: 580px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
#div1 .room_item .room_desc{
    position: absolute;
    left: 580px;
    top: 50px;
    width: 600px;
    text-align: justify;
}
#div1 .room_item .room_price{
    position: absolute;
    left:250px;
    top:210px;
    font-size: 15px;
    color: gray;
}
#div1 .room_item .room_book{
    position: absolute;
    text-decoration: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    top: 200px;
    left:1060px;
}
#div1 .room_item .room_book:hover{
    cursor: pointer;
    background-color: gray;
}
 .room_item .special{
    position: absolute;
    left: 250px;
    font-size: 24px;
    text-decoration: underline;
}
.room_item .wrapper{
    position: absolute;
    display: flex;
    top: 50px;
    left: 300px;
    width: 900px;
    height: 220px;
    background: linear-gradient(to right, #232526, #414345);
    border-radius: 30px;
    box-shadow: 10px;
    color: white;
}
 .room_item .wrapper .discount{
    position: relative;
    margin-left: 100px; ;
    flex: 1;
}
 .room_item .wrapper .discount .line{
    position: absolute;
    top: 50px;
    width: 200px;
    height: 3px;
    background-color: white;
    
}
 .room_item .wrapper .discount .percent{
    position: absolute;
    top: 60px;
    font-size: 24px;
    font-weight: 500;
}
 .room_item .wrapper .discount .percent_desc{
    position: absolute;
    width: 125px;
    top: 100px;
}
 .room_item .wrapper .discount a{
    position: absolute;
    top:150px ;
    color: white;
}
.room_item .wrapper .discount a:hover{
    cursor: pointer;
    color: blue;
}
#div2{
    height: 1200px;
}
#div2 .room_item{
    position: relative;
    height: 220px;
}
#div2 .room_item .room_img{
    position: absolute;
    width: 190px;
    height: 130px;
    border-radius: 10px;
    left:300px ;
}
#div2 .room_item .room_name{
    position: absolute;
    left: 520px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
#div2 .room_item .room_desc{
    position: absolute;
    width: 200px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    top: 30px;
    left:520px ;
}
#div2 .room_item .room_price{
    position: absolute;
    left: 300px;
    top: 145px;
    font-size: 14px;
}
#div2 .room_item .room_book{
    position: absolute;
    text-decoration: none;
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    top: 150px;
    left:620px;
}
#div2 .room_item .room_book:hover{
    cursor: pointer;
    background-color: grey;
}
#div2 .room_item .room_img1{
    position: absolute;
    width: 190px;
    height: 130px;
    border-radius: 10px;
    left:800px ;
}
#div2 .room_item .room_name1{
    position: absolute;
    left: 1020px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
#div2 .room_item .room_desc1{
    position: absolute;
    width: 200px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    top: 30px;
    left:1020px ;
}
#div2 .room_item .room_price1{
    position: absolute;
    left: 800px;
    top: 145px;
    font-size: 14px;
}
#div2 .room_item .room_book1{
    position: absolute;
    text-decoration: none;
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    top: 150px;
    left:1120px;
    box-shadow: 25px;
}
#div2 .room_item .room_book1:hover{
    cursor: pointer;
    background-color: grey;
}
.tab{
    display: none;
}
.tab.active{
    display: block;
}
/* Footer */
.footer{
    width: 100%;
    height: 350px;
    background: #000000;
    display: flex;
}
.left_footer{
    width: 40%;
    height: 350px;
    color: white;
    border-right: 1px solid white;
}
.left_footer img{
    height: 50px;
    width: 400px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.left_footer .content1{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.left_footer .contact{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    text-transform: uppercase;
}
.left_footer .social_network{
    width: 100%;
    text-align: center;
}
.left_footer .social_network i{
    font-size: 32px;
    margin: 20px;
}
.right_footer{
    color: white;
}
.right_footer p{
    margin: 15px;
    font-size: 15px;
}
.right_footer .email input{
    width: 450px;
    height: 50px;
    border-radius: 20px;
    margin-left:  150px;
    padding-left: 20px;
}
.right_footer .email button{
    height: 50px;
    width: 80px;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.right_footer .email button:hover{
    background-color: gray;

}
.link{
    display: flex;
    width: 80%;
    margin-left: 150px;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.linl .link_item{
    flex: 1;
}
.link_item p{
    width: 110px;
    text-align: center;
}
.link_item ul{
    list-style: none;
    text-align: center;
    width: 150px;
}
.link_item ul a{
    text-decoration: none;
    color: white;
    line-height: 20px;
    font-weight: 200;
}
.link_item ul a:hover{
    color: gray;
}
.info{
    margin-top: 20px;
    margin-left: 150px;
    font-weight: 100;
}